@font-face {
    font-family: 'iconfont';  /* project id 1636906 */
    src: url('//at.alicdn.com/t/font_1636906_dlvvz7xrh5g.eot');
    src: url('//at.alicdn.com/t/font_1636906_dlvvz7xrh5g.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1636906_dlvvz7xrh5g.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1636906_dlvvz7xrh5g.woff') format('woff'),
    url('//at.alicdn.com/t/font_1636906_dlvvz7xrh5g.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1636906_dlvvz7xrh5g.svg#iconfont') format('svg');
  }