body{
    margin: 0px;
    padding: 0px;
    
    
}
#body-rt{
    width: 82px;
    height: 560px;
    position: fixed;
    top:866px ;
    right: 0px;
    background-color: #440303;
}
li,ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.header{
    width: 100%;
    height: 120px;
    /* border: 1px solid rgb(158, 196, 123); */
    /* box-sizing: border-box; */
    background-color: sienna;
}
.header-1{
    width: 100%;
    height: 40px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    background-color: black;
}
.haeder-nav{
    width: 1226px;
    height: 40px;
    /* border: 1px solid red; */
    box-sizing: border-box; 
    margin: 0 auto;
    background-color: seashell;
}
.haeder-nav .lt{
    width: 704.98px;
    height: 40px;
    /* border: 1px solid red; */
    float: left;
    background-color: skyblue;
}
.haeder-nav .rt{
    width: 300px;
    height: 40px;
    /* border: 1px solid red; */
    float: right;
    background-color: skyblue;
}
.haeder-nav .shoping{
    width: 120px;
    height: 40px;
    /* border: 1px solid red; */
    float: right;
    background-color: rgb(19, 172, 5);
}

.content-1{
    width: 1226px;
    height: 100px;
    margin: 0 auto;
    background-color: slateblue;
    
}
.content-1>img{
    width: 80px;
    height: 80px;
    float: left;
    background-color:red;
    margin:10px 0;   
}
.content-1 .content-middle{
    width: 633px;
    height: 100px;
    background-color: springgreen;
    margin-left: 184px;
    float: left;
}
.content-1 .search{
    width: 329px;
    height: 100px;
    float: right;
    background-color: steelblue;

}

/* 中2 */
.middle-1{
    width: 1226px;
    height: 670px;
    margin: 0 auto;
    background-color: red;
    
}
.middle-1 .middle-top{
    width: 1226px;
    height: 460px;
    background-color: rgb(196, 199, 193);
}
.middle-1 .middle-top .lt{
    width: 234px;
    height: 460px;
    float: left;
    background-color: royalblue;
}
.middle-1 .middle-top .rt{
    width: 992px;
    height: 460px;
    float:right;
    background-color: saddlebrown;
}
.middle-1 .middle-bottom{
    width: 1226px;
    height: 170px;
    background-color: salmon;
    margin-top: 14px;
}
.middle-1 .middle-bottom .lt{
    width: 234px;
    height: 170px;
    background-color: skyblue;
    float: left;
}
.middle-1 .middle-bottom .rt{
    width: 992px;
    height: 170px;
    background-color: rgb(77, 6, 80);
    float: right;
}
.middle-1 .middle-bottom .rt>img{
    width: 316px;
    height: 170px;
    background-color: tan;
    float: right;
    margin-left: 14.6px;
}
/* 大块 */
.middle-2{
    width: 100%px;
    height: 6047px;
    background-color: rgb(199, 199, 199);
    padding: 4px 0px 12px;
}
.middle-2 .middle-content{
    width: 1226px;
    height: 6035px;
    margin: 0 auto;
    background-color: beige;
}
.middle-2 .middle-content .content-1{
    width: 1226px;
    height: 540px;
    background-color: blue;
}
.middle-2 .top{
    width: 1226px;
    height: 58px;
    background-color: cadetblue;
}
.middle-2 .middle{
    width: 1226px;
    height: 339px;
    background-color: chartreuse;
}
.middle-2 .middle .lt{
    width: 234px;
    height: 339px;
    background-color: darkcyan;
    float: left;
}
.middle-2 .middle .rt{
    width: 992px;
    height: 339px;
    background-color: rgb(72, 50, 131);
    float: right;
}
.middle-2 .middle .rt>ul>li{
    width: 234px;
    height: 339px;
    background-color: darkgoldenrod;
    margin-left: 14px;
    float: right;
}
.middle-2 .bottom{
   
    width: 1226px;
    height: 120px;
    margin-top: 22px;
    background-color: chocolate;
    line-height: 120px;
    font-size: 20px;
    text-align: center;
}



/* 小米手机 */
.middle-3{
    width: 1226px;
    height: 828px;
    margin-top: 22px;
    background-color: darkgoldenrod;
}
.middle-3 .top{
    width: 1226px;
    height: 58px;
    background-color: darkgreen;
    line-height: 58px;
    font-size: 20px;
}
.middle-3 .middle{
    width: 1226px;
    height: 614px;
    background-color: rgb(166, 180, 37);
    float: left;
    clear: both;
    position: relative;
}
.middle-3 .middle img{
    width: 234px;
    height: 614px;
    background-color: deepskyblue;
    float: left;
}
.middle-3 .middle .middle-top{
    width: 234px;
    height: 614px;
    float: left;
    background-color: seagreen;
}
.middle-3 .middle .middle-top>span{
    float: left;
    width: 234px;
    height: 300px;
    background-color: rgb(11, 16, 80);
}
.middle-3 .middle .middle-top span:last-child{
    
    margin-top: 14px;

}





.middle-3 .middle .top-1{
   
    width: 992px;
    height: 300px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.middle-3 .middle .bottom-1{
    
    height: 300px;
    
    position: absolute;
    top: 314px;
    right: 0;
}
.middle-3 .middle .top-1 li{
    width: 234px;
    height: 300px;
    float:right;
    padding-left: 14px;
    background-color: indigo;
    box-sizing: border-box;
    margin-left: 14px;
}
.middle-3 .middle .bottom-1 li{
    width: 234px;
    height: 300px;
    float: right;
    padding-left: 14px;
    background-color: indigo;
    box-sizing: border-box;
    margin-left: 14px;

}
#list span{
    display: block;
    width: 234px;
    height: 143px;
    background-color: rgb(37, 15, 177);
    margin-left: -14px;
}
#list span:last-child{
    margin-top: 14px;
    
}




.middle-3>img{
    display: block;
    width: 1226px;
    height: 120px;
    background-color: rgb(218, 23, 130);
    position: relative;
    top: 36px;
}


.bottom-4{
    width: 1240px;
    height: 343px;
    /* background-color: slateblue; */
    margin-top: 22px;
    margin-left: -7px;
}
.bottom-4>div{
    margin-left: 7px;
    width: 1226px;
    height: 58px;
    background-color: tan;
}
.bottom-4>ul>li{
    width: 296px;
    height: 285px;
    background-color: teal;
    margin: 0px 7px;
    float: left;
    margin-top: 2px;
}
.bottom-4>ul>li>span{
    width: 296px;
    height: 180px;
    display: block;
    background-color: black;

}


#bottom-1{
    width: 100%;
    height: 504px;
    background-color: #c7c7c7;
}
.bottom-top-1{
    width: 100%;
    height: 272px;
    background-color: blanchedalmond;
}
.bottom-top-1-nav{
    width: 1226px;
    height: 272px;
    background-color: blue;
    margin: 0 auto;
}
.bottom-top-1 .toop{
    width: 1226px;
    height: 80px;
    border: 5px solid burlywood;
    box-sizing: border-box;
    float: left;
}
 
.bottom-top-1 .dwo{
    width: 1226px;
    height: 192px;
    box-sizing: border-box;
    border:5px solid #03a003;
    float: left;
}
#bottom-1 .bottom-bottom{
    width: 1226px;
    height: 232px;
    border: 1px solid #440303;
    margin: 0 auto;
    box-sizing: border-box;
}
#bottom-1 .bottom-bottom>img{
    width: 56px;
    height: 56px;
    float: left;
    margin-top: 30px;
    border: 2px solid #03a003;
}
#bottom-1 .bottom-bottom>span{
    display: block;
    width: 976px;
    height: 129px;
    margin-top: 30px;
    border: 2px solid #5f0917;
    float: left;
    
}
#bottom-1 .bottom-bottom>p{
    display: block;
    width: 980px;
    height: 30px;
    border:2px solid darkmagenta;
    float: left;
    margin-top: 0px;
    margin-left: 60px;
    box-sizing: border-box;
}


